pydantic[email]~=2.10.5
SQLAlchemy~=2.0.37
fastapi[all]~=0.115.6
fastapi-users[sqlalchemy,oauth,jwt]
uvicorn~=0.34.0
psycopg2-binary
requests
httpx
asyncpg
markdown
python-jose[cryptography]
python-dotenv
passlib[bcrypt]
auth
sqlmodel
sqlalchemy
pyjwt
passlib[bcrypt]
aiosqlite
fastapi_users_db_sqlmodel 

